
html {
    font-size: 62.5%; /* 62.5% = 10px */ 
    background: linear-gradient(to top, rgba(2, 2, 2, 0.5)50%, rgba(0, 0, 0, 0.5)50%),
        url(../assets/affichage\ film.jpg)no-repeat fixed center center / cover;
}

body {
    font: 1.6rem sans-serif; /* 16px */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: .1rem;
    line-height: 1.6;
}

header {
    color: white;
    margin: 2rem 0;
}

.section {
    padding: 3rem 4rem;
    margin-bottom: 2rem;
}

h1{
    color: #FFFFFF;
    text-align: center
}